/* Input validation */
textarea.ng-invalid,
select.ng-invalid,
input.ng-invalid,
div.ng-invalid {
  border: solid 1px red;
}

/* Error messages for file lists */
div.error {
  color: red;
}

/* Grades checkboxes need special spacing */
span.grades {
  margin-right: 1.5rem;
  font-weight: normal;
}

/* This surrounds the grades checkboxes so we can see errors */
div.error-border {
  padding-left: 1rem;
  border-radius: 4px;
}

/* momentPicker date divs need to look like our other inputs */
div.date {
  border-radius: 4px;
  padding: 6px 10px;
}

div.center {
  text-align: center;
}

div.alternate {
  border-style: solid;
  border-width: 1px;
  border-color: #c0c0c0;
}

div.view-label {
  text-align: right;
  font-weight: 500;
}

div.view-label-left {
  text-align: left;
  font-weight: 500;
}

div.view-section {
  text-align: center;
  margin-top: 2.0rem;
  margin-bottom: 0.25rem;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: -.05rem;
}

div.alternate div.row:nth-child(odd) {
  background: #CCC;
}

div.alternate div.row:nth-child(even) {
  background: #FFF;
}
