<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs -->
  <meta charset="utf-8">
  <base href="/">
  <title>Field Trip Requests</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">

  <!-- CSS -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
  <link rel="stylesheet" href="css/ftform.css">

  <!-- Favicon -->
  <link rel="icon" type="image/x-icon" href="images/favicon.ico">

  <script src="https://use.fontawesome.com/a11a263ab5.js"></script>
  <script src="js/angular.js"></script>
  <script src="js/admin.js"></script>

</head>

<body ng-app="ftform" ng-controller="MyCtrl">

  <!-- Primary Page Layout -->
  <div class="container">

    <div class="row">
      <table class="u-full-width">
        <thead>
          <tr>
            <th class="clickable" ng-click="sortType='submitted'; sortReverse = !sortReverse">
              Submitted
              <span ng-show="sortType == 'submitted' && !sortReverse" class="fa fa-caret-down"></span>
              <span ng-show="sortType == 'submitted' && sortReverse" class="fa fa-caret-up"></span>
            </th>
            <th class="clickable" ng-click="sortType='departure'; sortReverse = !sortReverse">
              Departure
              <span ng-show="sortType == 'departure' && !sortReverse" class="fa fa-caret-down"></span>
              <span ng-show="sortType == 'departure' && sortReverse" class="fa fa-caret-up"></span>
            </th>
            <th class="clickable" ng-click="sortType='building'; sortReverse = !sortReverse">
              Building
              <span ng-show="sortType == 'building' && !sortReverse" class="fa fa-caret-down"></span>
              <span ng-show="sortType == 'building' && sortReverse" class="fa fa-caret-up"></span>
            </th>
            <th class="clickable" ng-click="sortType='destination'; sortReverse = !sortReverse">
              Destination
              <span ng-show="sortType == 'destination' && !sortReverse" class="fa fa-caret-down"></span>
              <span ng-show="sortType == 'destination' && sortReverse" class="fa fa-caret-up"></span>
            </th>
            <th class="clickable" ng-click="sortType='attendees'; sortReverse = !sortReverse">
              Attendees
              <span ng-show="sortType == 'attendees' && !sortReverse" class="fa fa-caret-down"></span>
              <span ng-show="sortType == 'attendees' && sortReverse" class="fa fa-caret-up"></span>
            </th>
            <th class="clickable" ng-click="sortType='emails'; sortReverse = !sortReverse">
              Submitters
              <span ng-show="sortType == 'emails' && !sortReverse" class="fa fa-caret-down"></span>
              <span ng-show="sortType == 'emails' && sortReverse" class="fa fa-caret-up"></span>
            </th>
            <th class="clickable" ng-click="sortType='status'; sortReverse = !sortReverse">
              Status
              <span ng-show="sortType == 'status' && !sortReverse" class="fa fa-caret-down"></span>
              <span ng-show="sortType == 'status' && sortReverse" class="fa fa-caret-up"></span>
            </th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr class="hover-highlight" ng-repeat="row in tableData | orderBy:sortType:sortReverse">
            <td>{{row.submitted | date : "EEE M/d/yy h:mm a"}}</td>
            <td>{{row.departure | date : "EEE M/d/yy h:mm a"}}</td>
            <td>{{row.building}}</td>
            <td>{{row.destination}}</td>
            <td>{{row.attendees}}</td>
            <td>
              <div ng-repeat="email in row.emails">
                <a href="mailto:{{email}}?subject={{row.friendlyName}}">{{email}}</a>
              </div>
              <div ng-show="row.emails.length > 1">
                <a href="{{row.emailAllUrl}}">Email All</a>
              </div>
            </td>
            <td>{{row.status}}</td>
            <td><a href="{{row.viewUrl}}">View</a></td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
  
<!-- End Document -->
</body>
</html>
